<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">


	

	<!-- Auto proxy : @ 붙어있는 어노테이션을 찾는다-->
	<aop:aspectj-autoproxy />

	<!-- ViewResolver 설정  : jsp 이름 설정-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver ">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	
	<!-- interceptor -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/auth"/>
			<bean class="com.douzone.mysite.security.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>	
	<!-- validator, conversionService, messageConverter를 자동으로 등록 -->
	<mvc:annotation-driven />
	<!--  서블릿 컨테이너(tomcat)의 디폴트 서블릿 위임(Delegate) 핸들러 : css 가 깨지면 설정해보자  -->
	<mvc:default-servlet-handler/> 
	<!-- bean 설정을 어노테이션으로 할꺼라는 설정 -->
	<context:annotation-config />
	<!-- 컨테이너에게 알려줄 어노테이션으로 설정된 페키지의 위치와 클레스의 위치를 알려주는것 -->
	<context:component-scan base-package="com.douzone.mysite.controller, com.douzone.mysite.exception" />

</beans>
